<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>青海源创-微云验方下载</title>
  <link rel="stylesheet" href="./css/main.css">
</head>
<body>
  <div class="page" id="app">
    <div v-if="client === 'WX'" class="notice">
      <p>点击右上角按钮，然后在弹出的菜单中，点击在浏览器中打开，即可安装</p>
      <img src="./images/alert-arrow.png" alt="">
    </div>

    <div class="logo">
      <img src="./images/flutter.png" class="pic" alt="微云验方APP">
    </div>
  
    <div class="version">
      <img v-if="client === 'iOS'" src="./images/icon_apple.png" class="icon" alt="微云验方APP">
      <img v-else-if="client === 'Android'" src="./images/icon_android.png" class="icon" alt="微云验方APP">
      <h2>微云验方</h2>
      <div class="type">内测版</div>
    </div>
    
    <div class="detail">
      <p>版本：1.0.6</p>
      <p>更新时间：{{ timeAge }}</p>
    </div>
  
    <div class="download">
      <a v-if="client === 'WX'" class="button" download="微云验方" href="#">点右上角到浏览器下载</a>
      <a v-else-if="client === 'Android'" class="button" download="微云验方" href="http://qiniu.xdm3d.com/106.apk">点击下载</a>
      <a v-else-if="client === 'iOS'" class="button" download="微云验方" href="itms-services://?action=download-manifest&url=https://qyjh.now.sh/archive.plist">点击安装</a>
      <span v-else>请在手机浏览器中下载 APP</span>
    </div>
  </div>
<script src="./js/vue.min.js"></script>
<script src="./js/main.js"></script>
</body>
</html>
